<div class="col-lg-4 col-md-4 col-sm-4" style="padding-left: 3px;padding-right: 3px;">											
	<div class="panel panel-info panel-title-no-border" style="margin-bottom:0px; padding-bottom:0px;">
		<div class="panel-heading">
			<img class="icons" src="assets/img/fijo_grande.png" rel="tooltip" data-placement="right" title="" data-original-title="Indicadores Fija">
		</div>
		<div class="panel-body" style="margin-bottom:0px; padding:0px;">
			<div class="row tabla-panel formulario detalle panel-no-border" style="padding: 0px 15px 5px 15px; margin-bottom: 0px; margin-top: 0px;">
				<label class="panel-title" style="color:#337ab7; padding:5px 0px 5px 0px;">&nbsp;</label>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="form-group">																	
							<label for="disabledTextInput">Deuda vencida</label>
							<div class="iconic-input right">
								<i class="fa fa-search" rel="tooltip" data-placement="top" title="" data-original-title="Haga clic para ir a la ventana de Deuda"></i>
								<input  readonly type="text" class="form-control input-sm" value="Sí" aria-label="...">
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="form-group">
							<label for="disabledTextInput">Env. Aviso Pago</label>
							<input  readonly type="text" class="form-control input-sm" value="Sí" aria-label="...">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="form-group">
							<label for="disabledTextInput">Cliente Inactivo</label>
							<input  readonly type="text" class="form-control input-sm" value="Sí" aria-label="...">
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="form-group">
							<label for="disabledTextInput">Caída Cons. Total</label>
							<input  readonly type="text" class="form-control input-sm" value="Sí" aria-label="...">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="form-group">
							<label for="disabledTextInput">Alquiler</label>
							<div class="iconic-input right">
								<i class="fa fa-search" rel="tooltip" data-placement="top" title="" data-original-title="Haga clic para ir a la ventana de Alquiler"></i>
								<input  readonly type="text" class="form-control input-sm" value="Sí" aria-label="...">
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="form-group">
							<label for="disabledTextInput">Señalización Odin</label>
							<div class="iconic-input right">
								<i class="fa fa-external-link" rel="tooltip" data-placement="top" title="" data-original-title="Haga clic para salir a ODIN (Señalizaciones)"></i>
								<input  readonly type="text" class="form-control input-sm" value="Sí" aria-label="...">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>													
</div>